@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

// Load Fontawesome styles directly, instead of using its own autoAddCSS feature,
// as autoloading occurs too late and the icons appear overscaled until CSS is loaded.
@import "node_modules/@fortawesome/fontawesome-svg-core/styles";

// Extra small screen / phone
// $screen-xs-min: 480px;

// $screen-sm-min: 1px; //map-get($grid-breakpoints, "xl");
$screen-sm-min: map-get($grid-breakpoints, "sm");

// $screen-sm-min: 768px; // Small screen / tablet
// $screen-md-min: 992px; // Medium screen / desktop
// $screen-lg-min: 1200px; // Large screen / wide desktop

// So media queries don't overlap when required, provide a maximum
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-sm-max: ($screen-md-min - 1);
// $screen-md-max: ($screen-lg-min - 1);

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Ropa Sans";
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}

h1 {
  font: normal 2em "PT Serif";
  margin-bottom: 0.5em;
}

h2 {
  background-color: #000;
  margin-bottom: 1em;
  padding: 0.1em 0 0.3em;
  position: sticky;
  text-align: center;
  text-transform: uppercase;
  top: 25px;
  transition: top 0.2s; // it's important to have this duration same as .votelink element
  z-index: 1;

  body.novotelink & {
    top: 0;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    border-top: 1px solid #aaa;
    margin: 0.5em 0;
  }
}

h3 {
  margin-bottom: 1em;
  text-align: center;
}

hr {
  border-color: #fff;
}

a {
  color: #fff;
  transition: color 0.2s;

  &:hover {
    color: #ccc;
  }
}

p {
  line-height: 1.4em;
}

em {
  color: #9acd32;
}

// compensate sticky header's height when using local anchor links
:target {
  padding-top: 140px;
  margin-top: -140px;
  display: inline-block;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
  padding: 0 1em;
}

header,
section {
  margin-bottom: 2.5em;
}

footer {
  margin: 3em 0 1em;
}

input {
  background: transparent;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 1);
  color: #fff;
  padding: 0.8em 1.2em;

  @media screen and (min-width: $screen-sm-min) {
    padding: 0.5em 1.2em;
  }
}

input[type="email"] {
  background: rgba(32, 32, 32, 1);
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    margin-right: 0.4em;
    width: 370px;
  }

  &::placeholder {
    transition: color 0.2s;
  }

  &:hover::placeholder {
    color: #999;
  }
}

input[type="submit"] {
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    width: auto;
  }

  &:hover {
    color: #000;
    background: silver;
    border-color: #fff;
  }
}

.hero {
  background: transparent center no-repeat;
  background-image: url("/hero.jpg");
  background-size: cover;
  position: relative;

  &::before {
    background: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hero-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 700px;
  padding: 1.5em 1em;
  position: relative;
  text-align: left;

  @media screen and (min-width: $screen-sm-min) {
    padding-right: 10em;
  }

  .logo {
    fill: #fff;
    width: 2em;

    @media screen and (min-width: 420px) {
      position: absolute;
      top: 1.9em;
      right: 1em;
      width: 4em;
    }

    @media screen and (min-width: $screen-sm-min) {
      top: 2em;
      width: 170px;
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 -1.5em;
  padding: 0;
}

.feature {
  background: #333;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-size: 0.5em;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 1.5em;
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    display: block;
    font-size: 1em;
    padding: 1.5em 1em 0.5em;
    text-align: center;
    width: 48%;
  }

  .svg-inline--fa {
    width: 1.5em;
  }

  svg {
    margin: 0 0.5em 0 0;

    @media screen and (min-width: $screen-sm-min) {
      display: block;
      margin: 0 auto;
    }
  }

  p {
    margin: 0;
    font-size: 2em;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 1em;
      margin: 1em 0;
    }
  }
}

.about-section {
  margin-bottom: 2em;

  svg {
    font-size: 3em;
    margin-bottom: 0.3em;
    width: 100% !important; // override svg-inline--fa class

    @media screen and (min-width: $screen-sm-min) {
      font-size: 4em;
    }
  }
}

.social-section {
  div {
    text-align: center;
  }
}

.icon-header {
  padding-left: 1.5em;
  text-align: left;

  svg {
    color: #888;
    float: left;
    margin-left: -1.5em;
    margin-right: 0.5em;
  }
}

// Form and form submit overlay messages

.form {
  position: relative;

  &--processing,
  &--done {
    position: relative;

    &::before {
      background: #000;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0.85;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &--processing {
    .form__submit-message--processing {
      opacity: 1;
      visibility: visible;
    }
  }

  &--done {
    .form__submit-message--done {
      opacity: 1;
      visibility: visible;
    }
  }

  &__submit-message {
    left: 50%;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    visibility: hidden;
    width: 100%;
  }
}

.mail {
  text-decoration: underline;
}
