.votelink {
  background: #000;
  display: flex;
  height: 40px;
  opacity: 1;
  position: sticky;
  top: 0;
  transition: height 0.2s, opacity 0.2s; // the value should be synced with voteLinkVisibilityDelay parameter
  z-index: 2;

  &--closing {
    height: 0;
    opacity: 0;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    width: 100%;
  }

  a {
    display: flex;
    font-size: 0.8em;
    text-decoration: underline;
  }

  &__label {
    margin-left: 0.5em;
    white-space: nowrap;
  }

  &__close {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.3em;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 0.5em;

    &:hover {
      color: #ccc;
    }
  }
}
