.vote {
  margin-left: 1.5em;

  ul {
    list-style-type: none;
    padding: 0;
  }

  &__choice {
    margin-bottom: 1em;

    button {
      border: none;
      background: transparent;
      color: #fff;
      cursor: pointer;
      text-align: left;

      &:hover {
        color: #ccc;
      }

      svg {
        margin-right: 0.3em;
      }
    }
  }
}
